.footer{
    display: flex;
    justify-content: space-around;
    background-color: #111;
    color: #ddd;
    padding: 4rem 2rem;
}

.footer h2{
    font-size: 0.9rem;
}
.footer p{
    font-size: 0.8rem;
    color: #999;
}

.footer div{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}